body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav{
display: flex;
justify-content: center;
align-items: center;
background-color: #f44336;
position: relative;
width: 100%;
top: 0;
left: 0;
margin-bottom: 0;
z-index: 1000;
}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1.5vw;
  font-family: 'Roboto', sans-serif;
}

nav a:hover{
  background-color: #e57373;
}


.active{
    background-color: #e57373;
}

@media (max-width: 900px) {
  nav {
    position: relative;
  }

  nav a {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    position: relative;
  }

  nav a {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  body{
    font-family: serif;
  }
}

a{
  color: #e57373;
}